body {
	background-color: #222;
	margin: 0px;
}

	#stats-container {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 200px;
		height: 100vh;
		color: #cd965a;
		background-color: rgba(215, 166, 97, 0.5);
		border-color: #cd965a;
		border-left: solid;
		padding: 20px;

	}
		.stats-valuse {
			float: right;
			color: #d0b79c;
		}

	#golden-cookie {
		position: absolute;
		width: 100px;
		height: 100px;
		cursor: pointer;

		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		filter: drop-shadow(0 0 0.75rem #DAA520	);
			animation: spin 4s linear infinite;

	}

	#cookie-container {
		top: 0px;
		display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	width: 100vw;
	  	height: 100vh;
	}
	p {
		-webkit-margin-before: 0em;
    	-webkit-margin-after: 0em;
	}

		#record {
			position: absolute;
			color: #cd965a;
			background-color: rgba(215, 166, 97, 0.5);
			border-color: #cd965a;
			border: solid;
			border-radius: 1px;
			padding: 10px;
			margin-top: -200px;
			opacity: 0;
		  	font-size:24px;
		}
			#recordType {
				float: left;
			}
			#recordValue {
				color: #d0b79c;
				float: left;
			}
		.cookie {
			position: absolute;
			width: 200px;
			cursor: pointer;
			overflow: hidden;
			animation: spin 4s linear infinite;

			
			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;


			filter: drop-shadow(0 0 0.75rem crimson);
		}
		.cookie:hover {
			filter: brightness(110%) drop-shadow(0 0 0.75rem #ff3737);;
		}
		.cookie:active {
			filter: brightness(120%) drop-shadow(0 0 0.75rem #ff6565);;
			
			/*transform: translate(10px, 10px);*/
		}
		#clicks {
			position: absolute;
			margin-top: 150px;
			font-size: 50px;
			color: orange;

			YAKSHEMASH
		}