p {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

body {
	background-color: #222;
	margin: 0px;
}
header {}
	nav {
		background-color: rgba(215, 166, 97, 0.5);
		width: 100vw;
		height: 70px;
		padding: 2px;
	}
		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;	
		}
			li {
				margin: 5px 0px 5px 15px;
				height: 100%;
			    float: left;
			}
				li a {
				    display: block;
				    background-color: rgba(215, 166, 97, 0.5);
				    color: #d0b79c;
				    padding: 20px 30px 20px 30px;
				    display: block;
				    text-align: center;
				    text-decoration: none;
				}

@media only screen and (orientation: landscape) {
/*@media only screen and (orientation: portrait) {*/
    nav {
		background-color: rgba(215, 166, 97, 0.5);
		width: 100px;
		height: 100vh;
		padding: 2px;
	}
		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		}
			li {
			    float: none;
				height: 60px;
				margin: 5px 5px 5px 5px;
			}

				li a {
				    display: block;
				    padding: 20px 0px 20px 0px;
				    background-color: rgba(215, 166, 97, 0.5);
				    color: #d0b79c;
				    display: block;
				    text-align: center;
				    text-decoration: none;
				}

}

	
		
	


	#stats-container {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 200px;
		height: 100vh;
		color: #cd965a;
		background-color: rgba(215, 166, 97, 0.5);
		border-color: #cd965a;
		border-left: solid;
		padding: 20px;
	}
		.stats-valuse {
			float: right;
			color: #d0b79c;
		}


	#cookie-container {
		position: absolute;
		top: 0px;
		display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	width: 100vw;
	  	height: 100vh;
	}

		#golden-cookie {
			position: absolute;
			width: 100px;
			height: 100px;
			cursor: pointer;

			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			filter: drop-shadow(0 0 0.75rem #DAA520);
			animation: spin 4s linear infinite;
		}
	
		#record {
			position: absolute;
			color: #cd965a;
			background-color: rgba(215, 166, 97, 0.5);
			border-color: #cd965a;
			border: solid;
			border-radius: 1px;
			padding: 10px;
			margin-top: -200px;
			opacity: 0;
		  	font-size:24px;
		}
			#recordType {
				float: left;
			}
			#recordValue {
				color: #d0b79c;
				float: left;
			}
		.cookie {
			position: absolute;
			width: 200px;
			cursor: pointer;
			overflow: hidden;
			animation: spin 4s linear infinite;

			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;

			filter: drop-shadow(0 0 0.75rem crimson);
		}
		.cookie:hover {
			filter: brightness(110%) drop-shadow(0 0 0.75rem #ff3737);
		}
		.cookie:active {
			filter: brightness(120%) drop-shadow(0 0 0.75rem #ff6565);
			/*transform: translate(10px, 10px);*/
		}
		#clicks {
			position: absolute;
			margin-top: 150px;
			font-size: 50px;
			color: orange;
		}